In [1]:
import numpy as np 
import pandas as pd

In [2]:
train = pd.read_csv('train_with_new_features.csv')
test = pd.read_csv('test_with_new_features.csv')

In [3]:
tra=pd.DataFrame(train)
tst=pd.DataFrame(test)

In [20]:
tst1=pd.DataFrame(pd.read_csv('test_without_sametime.csv'))

In [21]:
tst1.head(7)

,hash,trajectory_id,time_entry,time_exit,vmax,vmin,vmean,x_entry,y_entry,x_exit,y_exit,sameTime
0,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_0,11:43:17,11:50:17,NaN,NaN,NaN,3.773413e+06,-1.909828e+07,3.773111e+06,-1.914508e+07,False
1,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_2,12:21:37,12:21:37,0.00,0.00,0.00,3.773199e+06,-1.914354e+07,3.773199e+06,-1.914354e+07,True
2,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_3,12:34:27,13:14:11,NaN,NaN,NaN,3.763760e+06,-1.921342e+07,3.771757e+06,-1.911092e+07,False
3,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_4,13:25:33,13:43:13,NaN,NaN,NaN,3.773385e+06,-1.911344e+07,3.773131e+06,-1.914465e+07,False
4,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_5,15:03:32,15:10:32,NaN,NaN,NaN,3.773118e+06,-1.914490e+07,NaN,NaN,False
5,000479418b5561ab694a2870cc04fd43_25,traj_000479418b5561ab694a2870cc04fd43_25_0,08:08:23,08:20:08,17.29,17.29,17.29,3.771380e+06,-1.933274e+07,3.769933e+06,-1.934095e+07,False
6,000479418b5561ab694a2870cc04fd43_25,traj_000479418b5561ab694a2870cc04fd43_25_6,12:08:23,12:13:24,NaN,NaN,NaN,3.771380e+06,-1.933274e+07,3.769983e+06,-1.934265e+07,False

In [8]:
tst['hash']=tst1['hash']

In [15]:
tst.head(7)

,trajectory_id,time_entry,time_exit,x_entry,y_entry,x_exit,y_exit,time_interval,distance,center,hash,e
0,traj_00032f51796fd5437b238e3a9823d13d_31_0,11:43:17,11:50:17,3.773413e+06,-1.909828e+07,3.773111e+06,-1.914508e+07,420,46799.053670,0,00032f51796fd5437b238e3a9823d13d_31,NaN
1,traj_00032f51796fd5437b238e3a9823d13d_31_2,12:21:37,12:21:37,3.773199e+06,-1.914354e+07,3.773199e+06,-1.914354e+07,0,0.000000,0,00032f51796fd5437b238e3a9823d13d_31,NaN
2,traj_00032f51796fd5437b238e3a9823d13d_31_3,12:34:27,13:14:11,3.763760e+06,-1.921342e+07,3.771757e+06,-1.911092e+07,2384,102806.725273,0,00032f51796fd5437b238e3a9823d13d_31,NaN
3,traj_00032f51796fd5437b238e3a9823d13d_31_4,13:25:33,13:43:13,3.773385e+06,-1.911344e+07,3.773131e+06,-1.914465e+07,1060,31209.541429,0,00032f51796fd5437b238e3a9823d13d_31,NaN
4,traj_00032f51796fd5437b238e3a9823d13d_31_5,15:03:32,15:10:32,3.773118e+06,-1.914490e+07,NaN,NaN,420,NaN,0,00032f51796fd5437b238e3a9823d13d_31,NaN
5,traj_000479418b5561ab694a2870cc04fd43_25_0,08:08:23,08:20:08,3.771380e+06,-1.933274e+07,3.769933e+06,-1.934095e+07,705,8339.038110,0,000479418b5561ab694a2870cc04fd43_25,NaN
6,traj_000479418b5561ab694a2870cc04fd43_25_6,12:08:23,12:13:24,3.771380e+06,-1.933274e+07,3.769983e+06,-1.934265e+07,301,10012.111189,0,000479418b5561ab694a2870cc04fd43_25,NaN

In [13]:
tst['e']=np.nan

In [17]:
tst=tst.drop_duplicates(subset='hash', keep='last', inplace=False)

In [23]:
tst.head(7)

,trajectory_id,time_entry,time_exit,x_entry,y_entry,x_exit,y_exit,time_interval,distance,center
4,traj_00032f51796fd5437b238e3a9823d13d_31_5,15:03:32,15:10:32,3.773118e+06,-1.914490e+07,NaN,NaN,420,NaN,NaN
7,traj_000479418b5561ab694a2870cc04fd43_25_10,15:29:09,15:30:56,3.769978e+06,-1.934136e+07,NaN,NaN,107,NaN,NaN
10,traj_000506a39775e5bca661ac80e3f466eb_29_5,15:26:08,15:26:08,3.757468e+06,-1.923860e+07,3.757468e+06,-1.923860e+07,0,0.0,NaN
13,traj_0005401ceddaf27a9b7f0d42ef1fbe95_1_4,15:35:18,15:42:05,3.760505e+06,-1.935500e+07,NaN,NaN,407,NaN,NaN
17,traj_00063a4f6c12e1e4de7d876580620667_3_4,14:54:07,15:05:14,3.766319e+06,-1.917013e+07,NaN,NaN,667,NaN,NaN
23,traj_0006535be25bb52dd06983447880c964_5_12,15:22:06,15:22:06,3.776037e+06,-1.916993e+07,3.776037e+06,-1.916993e+07,0,0.0,NaN
27,traj_0006f84bb33ec929d1cda7686f861d0a_31_3,15:00:12,15:00:12,3.760009e+06,-1.923361e+07,3.760009e+06,-1.923361e+07,0,0.0,NaN

In [22]:
tst=tst.drop(['hash','center'], axis=1)
tst = tst.rename(columns={'e': 'center'})

In [24]:
tst.to_csv("all_null_center.csv",index=False,sep=',')

## 删除行

In [25]:
test = pd.read_csv('test_with_new_features.csv')
tst=pd.DataFrame(test)

In [30]:
tst.head(7)

,trajectory_id,time_entry,time_exit,x_entry,y_entry,x_exit,y_exit,time_interval,distance,center
0,traj_00032f51796fd5437b238e3a9823d13d_31_0,11:43:17,11:50:17,3.773413e+06,-1.909828e+07,3.773111e+06,-1.914508e+07,420,46799.053670,0
1,traj_00032f51796fd5437b238e3a9823d13d_31_2,12:21:37,12:21:37,3.773199e+06,-1.914354e+07,3.773199e+06,-1.914354e+07,0,0.000000,0
2,traj_00032f51796fd5437b238e3a9823d13d_31_3,12:34:27,13:14:11,3.763760e+06,-1.921342e+07,3.771757e+06,-1.911092e+07,2384,102806.725273,0
3,traj_00032f51796fd5437b238e3a9823d13d_31_4,13:25:33,13:43:13,3.773385e+06,-1.911344e+07,3.773131e+06,-1.914465e+07,1060,31209.541429,0
4,traj_00032f51796fd5437b238e3a9823d13d_31_5,15:03:32,15:10:32,3.773118e+06,-1.914490e+07,NaN,NaN,420,NaN,0
5,traj_000479418b5561ab694a2870cc04fd43_25_0,08:08:23,08:20:08,3.771380e+06,-1.933274e+07,3.769933e+06,-1.934095e+07,705,8339.038110,0
6,traj_000479418b5561ab694a2870cc04fd43_25_6,12:08:23,12:13:24,3.771380e+06,-1.933274e+07,3.769983e+06,-1.934265e+07,301,10012.111189,0

In [29]:
tst1=pd.DataFrame(pd.read_csv('test_without_sametime.csv'))

In [34]:
tst1.head(7)

,hash,trajectory_id,time_entry,time_exit,vmax,vmin,vmean,x_entry,y_entry,x_exit,y_exit,sameTime
0,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_0,11:43:17,11:50:17,NaN,NaN,NaN,3.773413e+06,-1.909828e+07,3.773111e+06,-1.914508e+07,False
1,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_2,12:21:37,12:21:37,0.00,0.00,0.00,3.773199e+06,-1.914354e+07,3.773199e+06,-1.914354e+07,True
2,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_3,12:34:27,13:14:11,NaN,NaN,NaN,3.763760e+06,-1.921342e+07,3.771757e+06,-1.911092e+07,False
3,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_4,13:25:33,13:43:13,NaN,NaN,NaN,3.773385e+06,-1.911344e+07,3.773131e+06,-1.914465e+07,False
4,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_5,15:03:32,15:10:32,NaN,NaN,NaN,3.773118e+06,-1.914490e+07,NaN,NaN,False
5,000479418b5561ab694a2870cc04fd43_25,traj_000479418b5561ab694a2870cc04fd43_25_0,08:08:23,08:20:08,17.29,17.29,17.29,3.771380e+06,-1.933274e+07,3.769933e+06,-1.934095e+07,False
6,000479418b5561ab694a2870cc04fd43_25,traj_000479418b5561ab694a2870cc04fd43_25_6,12:08:23,12:13:24,NaN,NaN,NaN,3.771380e+06,-1.933274e+07,3.769983e+06,-1.934265e+07,False

In [35]:
tst1['y_exit']==NaN

NameError: name 'NaN' is not defined

In [ ]:
e=[]
i=0
for row in tst1.itertuples(index=True, name='Pandas'):
    if getattr(row, "sameTime") & getattr(row, "y_exit"):
        e.append(1)
    else:
        e.append(0)